body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#heroArray>li {
  float: left;
  list-style: none;
}
#heroArray>li>img {
  height: 120px;
  width: 120px;
}